.header {
  text-align: center;
  width: 800px;
  margin: 40px auto 60px;
  display: flex;
}
.professionalexperience {
  width: 800px;
  margin: 40px auto 60px;
  display: flex;
}
.education {
  width: 800px;
  margin: 40px auto 60px;
  display: flex;
}
.technical {
  width: 800px;
  margin: 40px auto 60px;
  display: flex;
}
