.header {
  text-align: center;
  width: 900px;
  margin: 40px auto 60px;
  display: flex;
}
.professionalexperience {
  width: 900px;
  margin: 40px auto 60px;
  display: flex;
}
.education {
  width: 900px;
  margin: 40px auto 60px;
  display: flex;
}
.technical {
  width: 900px;
  margin: 40px auto 60px;
  display: flex;
}
